.framework-container {
  margin: 20px auto;
  max-width: 800px;
  background: rgba(165, 191, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.search-input {
  margin-top: 8px;
}
.btn {
  margin-top: 0;
  font-size: 22px;
  display: inline;
  padding: 5px 5px 10px 5px;
}

.degree-details {
  font-size: 25px;
  text-transform: capitalize;
  display: flex;
}

.wind-details {
  margin-top: 36px;
}

#city-search {
  width: 100%;
}

#weatherIcon {
  width: 170px;
}

.wheather-information {
  margin-top: 28px;
  margin-left: 50px;
}

.active {
  color: blueviolet;
}
